section#team.bg-light-gray
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Team
    .row
      .col-sm-3.col-sm-offset-2
        .team-member
          a(href='http://www.florian-jindra.com/')
            img.img-responsive.img-circle(
              width='225',
              height='225',
              src='images/team/flo-j.jpg',

              alt='Florian Jindra'
            )
          h4 Florian Jindra
      .col-sm-3
        .team-member
          a(href='http://fh-salzburg.ac.at')
            img.img-responsive.img-circle(
              width='225',
              height='225',
              src='images/team/michi.jpg',

              alt='Michael Großauer'
            )
          h4 Michael Großauer
      .col-sm-3
        .team-member
          a(href='https://portfolio.fh-salzburg.ac.at/users/denise-isabella-buder')
            img.img-responsive.img-circle(
              width='225',
              height='225',
              src='images/team/denise.jpg',

              alt='Denise Buder'
            )
          h4 Denise Buder
    .row
    .col-sm-3
        .team-member
          a(href='http://fh-salzburg.ac.at')
            img.img-responsive.img-circle(
              width='225',
              height='225',
              src='images/team/radi.jpg',

              alt='Radomir Dinic',
            )
          h4 Radomir Dinic
      .col-sm-3
        .team-member
          a(href='https://ekkehard.damis.ch/')
            img.img-responsive.img-circle(
              width='225',
              height='225',
              src='images/team/ekkehard.jpg',

              alt='Ekkehard C. Damisch'
            )
          h4 Ekkehard C. Damisch
      .col-sm-3
        .team-member
          a(href='https://ke-visuals.com/')
            img.img-responsive.img-circle(
              width='225',
              height='225',
              src='images/team/kerstin.jpg',

              alt='Kerstin Schaumberger'
            )
          h4 Kerstin Schaumberger
      .col-sm-3
        .team-member
          a(href='http://fh-salzburg.ac.at')
            img.img-responsive.img-circle(
              width='225',
              height='225',
              src='images/team/david-f.jpg',

              alt='David Fasching'
            )
          h4 David Fasching
    .row
      .col-sm-3.col-sm-offset-2
        .team-member
          a(href='https://mikusch.at/')
            img.img-responsive.img-circle(
              width='225',
              height='225',
              src='images/team/jan.jpg',

              alt='Jan Mikusch',
            )
          h4 Jan Mikusch
      .col-sm-3
        .team-member
          a(href='https://portfolio.fh-salzburg.ac.at/users/pascal-blessing')
            img.img-responsive.img-circle(
              width='225',
              height='225',
              src='images/team/pascal.jpg',

              alt='Pascal Blessing'
            )
          h4 Pascal Blessing
      .col-sm-3
        .team-member
          a(href='https://portfolio.fh-salzburg.ac.at/users/natasha-troth')
            img.img-responsive.img-circle(
              width='225',
              height='225',
              src='images/team/natasha.jpg',

              alt='Natasha Troth'
            )
          h4 Natasha Troth
    .row
      .col-sm-3
        .team-member
          a(href='https://www.hannahflattinger.com/')
            img.img-responsive.img-circle(
              width='225',
              height='225',
              src='images/team/hannah.jpg',

              alt='Hannah Flattinger',
            )
          h4 Hannah Flattinger
      .col-sm-3
        .team-member
          a(href='https://www.instagram.com/mirarticus/?hl=en')
            img.img-responsive.img-circle(
              width='225',
              height='225',
              src='images/team/mira.jpg',

              alt='Mira Schobesberger'
            )
          h4 Mira Schobesberger
      .col-sm-3
        .team-member
          a(href='https://portfolio.fh-salzburg.ac.at/users/markus-mussnig')
            img.img-responsive.img-circle(
              width='225',
              height='225',
              src='images/team/marky.jpg',

              alt='Markus Mußnig'
            )
          h4 Markus Mußnig
      .col-sm-3
        .team-member
          a(href='https://portfolio.fh-salzburg.ac.at/users/patrick-obermuller')
            img.img-responsive.img-circle(
              width='225',
              height='225',
              src='images/team/paddy.jpg',

              alt='Patrick Obermüller'
            )
          h4 Patrick Obermüller
    .row
      .col-sm-3.col-sm-offset-2
        .team-member
          a(href='https://croissound.at/')
            img.img-responsive.img-circle(
              width='225',
              height='225',
              src='images/team/dodo.jpg',

              alt='Dorothée Sachsenhofer',
            )
          h4 Dorothée Sachsenhofer
      .col-sm-3
        .team-member
          a(href='https://portfolio.fh-salzburg.ac.at/users/lionel-asshauer')
            img.img-responsive.img-circle(
              width='225',
              height='225',
              src='images/team/lionel.jpg',

              alt='Lionel Aßhauer',
            )
          h4 Lionel Aßhauer
      .col-sm-3
        .team-member
          a(href='https://portfolio.fh-salzburg.ac.at/users/florian-weiermann')
            img.img-responsive.img-circle(
              width='225',
              height='225',
              src='images/team/flo-w.jpg',

              alt='Flo Weiermann',
            )
          h4 Flo Weiermann
